@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2rem; /* Default size */
  margin-bottom: 1rem; /* Default margin */
}

h2 {
  font-size: 1.75rem; /* Default size */
  margin-bottom: 0.75rem; /* Default margin */
}

h3 {
  font-size: 1.5rem; /* Default size */
  margin-bottom: 0.5rem; /* Default margin */
}

ul,
ol {
  padding-left: 1.5em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: #1d4ed8;
  text-decoration: none;
}

strong,
b {
  font-weight: bold; /* Default bold */
}

em,
i {
  font-style: italic; /* Default italic */
}

/* Underline */
u {
  text-decoration: underline; /* Underline text */
}

/* Strikethrough */
del,
s {
  text-decoration: line-through; /* Strikethrough text */
}

/* Inputs */
input,
textarea {
  padding: 0.5rem; /* Default padding */
  border: 1px solid #d1d5db; /* Default border */
  border-radius: 0.25rem; /* Default border radius */
}

/* Tables */
table {
  width: 100%; /* Full width */
  border-collapse: collapse; /* Collapse borders */
}

th,
td {
  padding: 0.5rem; /* Default padding */
  border: 1px solid #d1d5db; /* Default border */
}

th {
  background-color: #f9fafb; /* Light background for header */
}

.ql-container {
  overflow: auto;
  flex-grow: 1;
}

.login-bg {
  background-image: url("./assets/loginBG.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.2); /* White with transparency */
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Frosted glass blur */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border for glass effect */
}
